*.log
*.netrc

*.pyc
__pycache__/
.DS_Store
Thumbs.db

# Ignore everything in the data folder
data/*
!data/engine/
!data/pyrome_shp/
!data/fod_with_predictors.csv
!data/fod-cleaned.gpkg
!data/vars_50k
!data/sheets
!data/artifacts/
!data/processed/
!data/processed/
